* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #6394ef;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    // height: 60%;
    background-color: #0e0b63;
    border-radius: 30px;
    padding: 50px;
    .group-items {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      h1 {
        text-transform: uppercase;
        color: white;
      }
      .input-group {
        display: flex;
        flex-direction: column;
        gap: 20px;
        #input {
          display: flex;
          gap: 20px;
          #todo-input {
            width: 25vw;
            height: 40px;
          }
          .deleteTodo {
            cursor: pointer;
            background-color: red;
            border: 0;
            padding: 10px 20px;
          }
          a {
              // display: none;
            color: white;
            text-decoration: none;
          }
          .deleteAllTodos {
            cursor: pointer;
            color: white;
            background-color: transparent;
            border: 2px solid red;
            padding: 10px 20px;
          }
        }
        .success{
          border-radius: 50px;
          width: 100%;
          padding: 10px;
          // height: 50px;
          background-color: green;
          color: white;
          text-align: center;
        }
        .danger{
          border-radius: 50px;
          width: 100%;
          padding: 10px;
          // height: 50px;
          background-color: red;
          color: white;
          text-align: center;
        }
        .tasks {
          ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            li {
              color: white;
              display: flex;
              width: 50%;
              justify-content: space-between;
              i {
                color: black;
                background-color: goldenrod;
                padding: 3px 20px;
              }
            }
          }
        }
      }
    }
  }